$company-size: 4.1vw;

.company_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  margin: 0 40px;
  div {
    width: $company-size;
    height: $company-size;
    background-size: contain;
    background-position: center;
    background-repeat:none;
    margin:0 10px 10px 0;
    &.company_1 {
      background-image: url(./../../../public/company/1.jpg);
    }
    &.company_2 {
      background-image: url(./../../../public/company/2.jpg);
    }
    &.company_3 {
      background-image: url(./../../../public/company/3.png);
    }
    &.company_4 {
      background-image: url(./../../../public/company/4.png);
    }
    &.company_5 {
      background-image: url(./../../../public/company/5.png);
    }
    &.company_6 {
      background-image: url(./../../../public/company/6.png);
    }
    &.company_7 {
      background-image: url(./../../../public/company/7.png);
    }
    &.company_8 {
      background-image: url(./../../../public/company/8.png);
    }
    &.company_9 {
      background-image: url(./../../../public/company/9.png);
    }
    &.company_10 {
      background-image: url(./../../../public/company/10.png);
    }
    &.company_11 {
      background-image: url(./../../../public/company/11.png);
    }
    &.company_12 {
      background-image: url(./../../../public/company/12.png);
    }
    &.company_13 {
      background-image: url(./../../../public/company/13.png);
    }
    &.company_14 {
      background-image: url(./../../../public/company/14.png);
    }
    &.company_15 {
      background-image: url(./../../../public/company/15.png);
    }
    &.company_16 {
      background-image: url(./../../../public/company/16.png);
    }
    &.company_17 {
      background-image: url(./../../../public/company/17.png);
    }
    &.company_18 {
      background-image: url(./../../../public/company/18.png);
    }
    &.company_19 {
      background-image: url(./../../../public/company/19.png);
    }
    &.company_20 {
      background-image: url(./../../../public/company/20.png);
    }
    &.company_21 {
      background-image: url(./../../../public/company/21.png);
    }
    &.company_22 {
      background-image: url(./../../../public/company/22.png);
    }
    &.company_23 {
      background-image: url(./../../../public/company/23.png);
    }
    &.company_24 {
      background-image: url(./../../../public/company/24.png);
    }
  }
}
