$text-height: 200px;

.text_container {
  margin: 0 auto;
  font-size: 4em;
  line-height: 1.2em;
  height: $text-height;
  color: rgb(45, 76, 112);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.01em;
  div {
    display: flex;
    align-items: center;
    width: auto;
    margin: 0 10px;
    height: $text-height;
  }
}

// .text_container {
//   background: red;
//   div {
//     background: gold;
//   }
// }
