$callout-height: 500px;

.callout_wrapper {
  position: relative;
  top: 0;
  height: $callout-height;
  width:100%;
  .callout_animation {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-around;
    height: $callout-height;
    width:100%;
  }
}

.callout_wrapper {
  // background: red;
  .callout_animation div div {
    // background: gold;
  }
  .callout_cta {
    background: blue;
  }
}
