.text_container {
  font-size: 4em;
  line-height:1em;
  .text {
    color: gray;
  }
  .everybody {
    color: gray;
  }
  .from {
    color: gray;
  }
  .everything {
    color: gray;
  }
}

// .text_container {
//   background: red;
//   .text {
//     background: green;
//   }
//   .everybody {
//     background: gold;
//   }
//   .from {
//     background: blue;
//   }
//   .everything {
//     background: violet;
//   }
// }
