$callout-height: 400px;


$button-background: rgb(28, 158, 50);
$button-hover:lighten($button-background,10%);


.callout_cta {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: $callout-height;
  width: 100%;
  .text {
    margin-top:50px;
    font-size: 1.2em;
    letter-spacing:-0.03em;
    color: rgb(45, 76, 112);
  }
  .button {
    margin-bottom:50px;
    height:70px;
    width:auto;
    padding:20px 40px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight:500;
    color:#fff;
    transition:all 300ms;
    background: $button-background;
    &:hover {
      background: $button-hover;
    }
  }
}

.callout_cta {
  // background: blue;
}
